<div class="container" ng-controller="eventCtrl">
    <div class="feedPlace">
        <section ng-show="!isAdmin">
            <section class="feed">
                <div class="gamesRecord" layout="row" layout-align="space-around center">
                    <div class="text-center">
                        <img src="../../images/drnLogo.png">
                        <h5>{{userName}}</h5>
                    </div>
                    <div class="text-center">
                        <h3>5</h3>
                        <p>wins</p>
                    </div>
                    <div class="text-center">
                        <h3>3</h3>
                        <p>loses</p>
                    </div>
                </div>
                <div class="friends" layout="row" layout-align="space-around center" ng-if="feed.friendsFromLastMacth">
                    <div class="text-center" ng-repeat="user in feed.friendsFromLastMacth">
                        <p>{{user}}</p>
<!--                        <img ng-src="{{getMonsterPicture()}}">-->
                        <img ng-src="../../images/character1.png">
                    </div>
                </div>
                <hr>
                <p ng-if="!feed.friendsFromLastMacth">No friends yet</p>
                <section class="lastVictory" ng-if="feed.lastVictory">
                    <div class="text-center" layout="row" layout-align="space-around center">
                        <div class="text-center">
                            <img class="statusImg" src="../../images/victoryLogo.png">
                            <h2>VICTORY</h2>       
                        </div>
                    </div>
                    <div class="team" layout="row" layout-align="space-around center">
                        <div class="text-center">
                            <p>team A</p>
                            <img src="../../images/winTeam.png">
                            <p>Winners</p>
                            <h3>{{feed.lastVictory.winScore}}</h3>
                        </div>
                        <div class="text-center">
                            <p>team B</p>
                            <img src="../../images/lossesTeam.png">
                            <p>Losess</p>
                            <h3>{{feed.lastVictory.loseScore}}</h3>
                        </div>
                    </div>
                </section>
                <p ng-if="!feed.lastVictory">No Victory</p>
                <section class="lastDefet" ng-if="feed.lastDefet">
                    <div layout="row" layout-align="space-around center">
                        <div class="text-center">
                            <img class="statusImg" src="../../images/DefeatLogo.png">
                            <h2>DEFET</h2>    
                        </div>
                    </div>
                    <div class="team" layout="row" layout-align="space-around center">
                        <div class="text-center">
                            <p>team A</p>
                            <img src="../../images/winTeam.png">
                            <p>Winners</p>
                            <h3>{{feed.lastDefet.winScore}}</h3>
                        </div>
                        <div class="text-center">
                            <p>team B</p>
                            <img src="../../images/lossesTeam.png">
                            <p>Losess</p>
                            <h3>{{feed.lastDefet.loseScore}}</h3>
                        </div>
                    </div>
                </section>
                <p ng-if="!feed.lastDefet">No losses</p> 
                <section class="teams">
                    <div layout="row" layout-align="center center">
                        <div class="text-center"><img src="../../images/birdLogo.png"><h4>86</h4></div>
                        <div class="text-center myTeamLogo"><img src="../../images/drnLogo.png"><h4>87</h4></div>
                        <div class="text-center"><img src="../../images/maskLogo.png"><h4>88</h4></div>
                    </div>
                </section>
                
                <!--<h1>{{userName}}</h1>
                <p>wins: {{feed.userWin}}</p>
                <p>loses: {{feed.userLoses}}</p>
                <hr>
                <h3>Last Game</h3>
                <section ng-if="feed.lastGame">
                    <p>win score: {{feed.lastGame.winScore}}</p>
                    <p>lose score: {{feed.lastGame.loseScore}}</p>
                    <h5>Win Team</h5>
                    <p ng-repeat="user in feed.lastGame.winTeam">{{user}}</p>
                    <h5>Loss Team</h5>
                    <p ng-repeat="user in feed.lastGame.loseTeam">{{user}}</p>                       
                </section>
                <p ng-if="!feed.lastGame">No games played</p>         
                <br>
                <hr>
                <h3>Last Victory</h3>
                <section ng-if="feed.lastVictory">
                    <p>win score: {{feed.lastVictory.winScore}}</p>
                    <p>lose score: {{feed.lastVictory.loseScore}}</p>
                    <h5>Win Team</h5>
                    <p ng-repeat="user in feed.lastVictory.winTeam">{{user}}</p>
                    <h5>Loss Team</h5>
                    <p ng-repeat="user in feed.lastVictory.loseTeam">{{user}}</p>
                </section>                  
                <p ng-if="!feed.lastVictory">No Victory</p> 
                <hr>
                <h3>Last Defet</h3>
                <section ng-if="feed.lastDefet">
                    <p>win score: {{feed.lastDefet.winScore}}</p>
                    <p>lose score: {{feed.lastDefet.loseScore}}</p>
                    <h5>Win Team</h5>
                    <p ng-repeat="user in feed.lastDefet.winTeam">{{user}}</p>
                    <h5>Loss Team</h5>
                    <p ng-repeat="user in feed.lastDefet.loseTeam">{{user}}</p>
                </section>
                <p ng-if="!feed.lastDefet">No losses</p>                  
            </section>
            <br>
            <hr>
            <h3>Frindes</h3>
                <section ng-if="feed.friendsFromLastMacth">
                    <p ng-repeat="user in feed.friendsFromLastMacth">{{user}}</p>
                </section>
                <p ng-if="!feed.friendsFromLastMacth">No friends yet</p>  
                -->
        </section>
    </div>
</div>
