<div class="main resume container" ng-controller="eventCtrl as events">
    <div class="col-md-3 col-md-offset-2">
        <h2 ng-model="main.userName"></h2>
        <hr>
    </div>  
    <div class="col-md-3 col-md-offset-1">
        <h3>Professional knowledge</h3>
        <h5>Client side</h5>
        <ul>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Jquery</li>
            <li>AJAX</li>
            <li>Python</li>
            <li>Bootstrap</li>
        </ul>
        <hr>
        <h5>Server side</h5>
        <ul>
            <li>C</li>
            <li>C++</li>
            <li>Java</li>
            <li>PHP(Basic)</li>
            <li>Android</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h3>Others</h3>
        <ul>
            <li>MVC</li>
            <li>ORM(Hibernate)</li>
            <li>OOP</li>
        </ul>
    </div>
    <div class="col-md-3 col-md-offset-2 cover">
        <h2>About me</h2>
        <hr>
    </div>  
    <div class="col-md-5 col-md-offset-1 cover">
            <h3>Background</h3>
            <p>
                I'm a third year student of Software Engineering.
                I've always had a connection to the computers field and to the Internet in particular. 
                Recently I met your job advertisement and I saw it right for me.
                I have a good background in JavaScript, Html, CSS ,Java. Also, I learned other 
                programming languages during the school years in myself. I am a hard worker, fast learner and a                           great co-worker.
            </p>
    </div>
    <div class="col-md-3 col-md-offset-2 cover">
        <h2>Contact</h2>
        <hr>
    </div>  
    <div class="col-md-5 col-md-offset-1 cover">
            <h3 class="contact">Contact details</h3>
            <br>
            <p><a href="">054-2535567</a><span><i class="fa fa-phone fa-2x"></i></span></p>
            <p>
                <a href="mailto:morkasus3@gmail.com">morkasus3@gmail.com</a>
                <span><i class="fa fa-envelope fa-2x"></i></span>
            </p>
    </div>
</div>