*{
    padding: 0px;
    margin: 0px;
}


body{
    background-color: #fff;
}

p{
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

li{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

.subHeader {
    background-color: #353439;
    background-image: url(../images/main_background.jpg);
    height: 400px;
}

.logo{
    font-size: 25px;
    font-family: Oswald, sans-serif;
}

.lastName{
    font-size: 20px;
    font-family: Oswald, sans-serif;
}

.titles, .cv, .contact, .prot{
    display: none;
}

.subHeader h1 {
    margin-top: 100px;
    font-size: 64px;
    color: #fff;
}

.subHeader p {
    font-size: 26px;
    color: #fff;
    margin-bottom: 50px;
}

.subHeader span.buttons {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    border: 2px solid #fff;
    padding: 14px 26px 14px 26px;
    margin: 8px;
    transition: background-color 1.3s;
}

.subHeader span.buttons:hover{
    color: #353439;
    background-color: #fff;
}

.moreArrow{
    color: #fff;
    margin-top: 120px;
    transition: color 1s;
}

.moreArrow:hover{
    color: #7c7c7f;
}

#footerNav li { 
    color: #fff; 
}


.background{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 70%;
    padding-bottom: 20px;
    border-bottom: 1px solid #353439;
}

.main h2{
    margin-bottom: 20px;
}

.protfolio h2 {
    margin-bottom: 20px;
}

.protfolio .Project{
    background-image: url(../images/work.jpg);
    background-repeat: no-repeat;
    height: 233px;
    opacity: 1;
    position: relative;
    transition: opacity 2.3s;
}

.protfolio .Project:hover{
    opacity: 0.7;
}


.protfolio .Project:hover p.works{
    visibility: visible;  
}

.protfolio .Project:hover .projectName{
    visibility: visible;
}

.Project {
    margin-bottom: 60px;
}

.projectName {
    z-index: 1;
    position: absolute;
    top: 72px;
    left: 140px;
    font-size: 20px;
    color: #fff;
    font-family: fantasy;
}

.Project ~ p{
    margin-bottom: 35px;
}

.Project p {
    z-index: 1;
    font-weight: bold;
    position: absolute;
    top: 100px;
    left: 117px;
    font-size: 13px;
    color: #fff;
    border: 3px solid #fff;
    padding: 10px 18px 10px 18px;
}

.Project p.works, .projectName{
    visibility: hidden;
}

.Project p:hover{
    color: #353439;
    background-color: #fff;
}

.allProjectLink{
    color: #353439;
    font-size: 20px;
    font-weight: bold;
    padding: 14px 21px 14px 21px;
    border: 2px solid #353439;
}

.allProjectLink:hover{
    color: #fff;
    background-color: #353439;
    border: 2px solid #fff;
    transition: background-color 2s;
}

.footer{
    margin-top: 40px;
    height: 80px;
    background-color: #353439;
}

.footer i{
    margin-top: 30px;
    color: #fff;
}

.footer i:hover{
    color: #7c7c7f;
}

main {
    min-height: 700px;
}

.footer h5 {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    margin-top: 25px;
}

.subFooter {
    height: 100px;
    background-color: #26262a;
}

.footerDiv {
    color: #7c7c7f;
}

.footerDiv h2{
    margin-top: 30px;
}

.footerDiv li {
    margin-top: 11px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 3px;
    color: #7c7c7f;
}


.footerDiv p {
    font-size: 10px;
}


/* RESUME PAGE */

.resume{
    margin-top: 60px;
    height: 800px;
}

.cover {
    margin-top: 40px;
}

.cover span {
    margin-left: 13px;
    margin-top: 3px;
}

.cover a {
    font-size: 15px;
    color: #26262a;
}

.cover a:hover{
    color: #7c7c7f;
}

.contact {
    
}

/* CONTACT PAGE */
#map {
    height: 100%;
}

.contactPlace{
    margin-top: 50px;
}

form {
    margin-bottom: 40px;
}



/*     LEAGUE OF LEGENDS      */

.loginForm {
    width: 500px;
}




/* MEDIA QUERIES */
@media screen and (max-width:992px) {
    .resume{
        height: 1000px;
    }
}

@media screen and (max-width:550px) {
    .personalDetails {
        width: 100%;
    }
    
    .logo{
        margin-left: 20px;
    }
    
    .hamburger{
        margin-right: 20px;
    }
    
    .subHeader {
        height: 450px;
    }
    
    .subHeader h1 {
        margin-top: 50px;
        font-size: 34px;
        color: #fff;
    }
    .subHeader p {
        font-size: 8px;
        color: #fff;
        margin-bottom: 50px;
    }

    .subHeader span.buttons {
        color: #fff;
        font-size: 10px;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
        border: 2px solid #fff;
        padding: 5px 17px 5px 17px;
        margin: 3px;
    }
    
    
    .background{
        margin-top: 20px;
        width: 90%;
        padding-bottom: 30px;
        border-bottom: 1px solid #353439;
    }
    
    .resume{
        height: 1050px;
    }
    
    .loginForm {
        width: 300px;
    }
}


