<section id="mainnav">
    <section class="container text-center">
        <ul>
            <li ng-class="{ active:active === 1 }">
                <a href="#/index" ng-click="showAchivements(userName)" ng-show="isLogedIn && !isAdmin">
                FEED</a>
            </li>
            <li ng-class="{ active:active === 2 }">
                <a href="" ng-show="isLogedIn">
                ACHIVEMENT</a>
            </li>
            <li ng-class="{ active:active === 3 }">
                <a href="#/events" ng-click="showEvents()" ng-show="isLogedIn">
                EVENTS</a>
            </li>
            <li ng-class="{ active:active === 5 }">
                <a href="#/logout" ng-click="logout()" ng-show="isLogedIn">
                LOGOUT</a>
            </li>
        </ul>
    </section>
</section>